h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 0;
}

header {
  background: url(../img/hero.jpg);
  background-size: cover;
  flex-direction: column;
  height: 450px;
  justify-content: center;
}

i {
  vertical-align: bottom;
}

main {
  margin: 30px 0;
}

.brand-logo {
  margin-left: 10px;
}
